@page "/"
@using Budgeteer.Web.Auth
@inject AuthenticationService AuthenticationService
@* @attribute [Authorize] *@


<button class="btn btn-primary" @onclick="Login">Login</button>

@code
{
    private async Task Login()
    {
        await AuthenticationService.Login("asd123", "password1");
    }
}
