@using Budgeteer.Web.Auth
@inherits LayoutComponentBase

@inject AuthenticationService _authenticationService

<div class="page">
    <NavBar/>
    <div class="page-content">
        @Body
    </div>
</div>

@code
{
    string _userName;

    protected override async Task OnInitializedAsync()
    {
        var user = await _authenticationService.GetActiveUserAsync();
        
        if(user is not null)
            _userName = user.UserName;
    }
}